:root {
  --main-tooltip-display: none;
}

html, body {
  padding: 0;
  margin: 0;
  color: #222;

  font-family: 'Noto Sans KR', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 17px; /* recommended */
  font-weight: 300;

  scroll-behavior: smooth;

  /* 800px 이하인 경우 (아이폰), 좀 더 잘보이도록 확대 */
  @media screen and (max-device-width: 800px) {
      font-size: 25px;
  }

  /* ⭐핵심⭐ */
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Italiana", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Italiana", sans-serif;
}